<h1>Pirate Details</h1>

<h2>Name: <%= @pirate.name %></h2>
<h2>Weight: <%= @pirate.weight %></h2>
<h2>Height: <%= @pirate.height %></h2>

<% @ships.each do |ship| %>
  <h1>Ship Details:</h1>
  <h2><%= ship.name %></h2>
  <h2>
    <%= ship.type %>
  </h2>
  <h2>
    <%= ship.booty %>
  </h2>
<% end %>
